.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.loadMore {
    height: 1px;
    width: 100%;
}
